/*----------------------- navbar section --------------------*/

.main-div {
    max-width: 300px;
    margin: 0 auto;
}

nav {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
    gap: 10px;
}

nav img {
   
    margin: auto;
    width: 70px;
    margin-top: 20px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items:center;
}

.signin-btn {
   
    width: 100px;
    margin: auto;
    align-self: center;
    padding: 10px 20px;
    border-radius: 15px;
    
}

/* --------------intro section------------- */

.intro-section {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;
  
}

.left-section {
    /* border: 2px solid blue; */
    margin: auto;
    display:flex;
    padding: auto;
    flex-direction: column;
    align-items:flex-start;
    gap: 10px;
    height: auto;
    order: 1;
    margin-top: 50px;
    
}

.left-section h1 {
    /* border: 2px solid blue; */
    width:200px;
    font-size: 2rem;
    margin: auto;
    /* margin-bottom: 40px; */
}

.left-section h4 {
   line-height: 1.5rem;
    max-width: 300px;
    font-size: 0.7rem;

}

.learn-more-btn {   
     
    margin: auto;
    font-size: 16px;
    margin-top:20px ;
}

.imgs-div {
    position: relative; 
}


.intro-section .imgs-div {
    position: relative;
}
.intro-section .imgs-div img:nth-child(3) {
    width: 250px;
    position: relative;
    margin: auto;
    top: 30px;
    left: 0;
    
    
}
.intro-section .imgs-div img:nth-child(2) {
    display: none;

    position: absolute;
    top: 400px;
    left: 270px;
    width: 15px; 
}
.intro-section .imgs-div img:nth-child(1) {
    display: none;
}
